<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <main class="wrapper">
            {{- partial "header.html" . -}}
            {{- block "main" . }}
                <section class="container">
                {{ .Content }}
                </section>
            {{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{ if .HasShortcode "notebook-helper/notebook" }}
            {{ partial "notebook-helper/notebook-script" . }}
        {{ end }}
    </body>
</html>
